<?xml version="1.0"?>
<launch>
    <!-- Load URDF into the parameter server -->
    <param name="robot_description" textfile="$(find polydog)/urdf/polydog.urdf"/>

    <!-- Start Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Spawn the robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -model robot_dog -param robot_description -x 0.00 -y 0.00 -z 0.00 -R 0.00 -P 0.00 -Y 0.00 "/>

    <rosparam file ="$(find polydog)/config/polydog_controller.yaml" command="load"/>

    <node name= "controller_spawner" pkg= "controller_manager" type="spawner" ns="polydog" output="screen" args="shoulder1 hip1 knee1 shoulder2 hip2 knee2 shoulder3 hip3 knee3 shoulder4 hip4 knee4"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/polydog/joint_states" />
      <param name="publish_frequency" type="double" value="10" />
    </node>
</launch>
